#dashboard
  %h1
    %strong
      %em
        fact_sheet.vanity_url 
        Dashboard
  .panel  
    .panel-heading
      
    .panel-body
        
      .row
        .col-xs-12.col-sm-12.col-md-6.col-lg-7
          .row
            .col-xs-6.col-sm-6.col-md-6.col-lg-6
              .leadphoto
                = image_tag "campaign-media-kit.png", :class => "img-responsive img-center", :title => "Column Heading Graphic with Entreuse Logo Graphic"
            .col-xs-6.col-sm-6.col-md-6.col-lg-6
              %h3 Quick Start <small><em>Here, Now!...</em></small>
              .btn-group-vertical
                = link_to "Create Your EPK", "#", :class => "btn btn-default"
                = link_to "Show EPK", "#", :class => "btn btn-default"
                = link_to "Edit EPK", "#", :class => "btn btn-default"
                = link_to "Show Factsheet", "#", :class => "btn btn-default"
                = link_to "Edit Factsheet", "#", :class => "btn btn-default"
                
        .col-xs-12.col-sm-12.col-md-6.col-lg-5
          = image_tag "analytics-mockup-coming-soon.png", :class => "img-rounded img-responsive", :title => "Column Heading Graphic with Entreuse Logo Graphic"
      
    .panel-footer
      %h2
        %em My Campaigns <small>Coming soon. . .</small>
      .panel-overlay
          
      .coming-soon
        .row
          .col-xs-12.col-sm-6.col-md-3
            .panel
              .panel-body
                = image_tag "campaigns-books.png", :class => "img-center img-responsive", :title => "Book Publicity Campaign Workflow"
                  
          .col-xs-12.col-sm-6.col-md-3
            .panel
              .panel-body
                = image_tag "campaigns-speaking.png", :class => "img-center img-responsive", :title => "Speaking Publicity Campaign Workflow" 
                  
          .col-xs-12.col-sm-6.col-md-3
            .panel
              .panel-body
                = image_tag "campaigns-design.png", :class => "img-center img-responsive", :title => "Design Publicity Campaign Workflow"
                  
          .col-xs-12.col-sm-6.col-md-3
            .panel
              .panel-body
                = image_tag "campaigns-performance.png", :class => "img-center img-responsive", :title => "Performance Publicity Campaign Workflow"
        .row
          .col-xs-12.col-sm-6.col-md-3
            .panel
              .panel-body
                = image_tag "campaigns-music.png", :class => "img-center img-responsive", :title => "Music Publicity Campaign Workflow"
                  
          .col-xs-12.col-sm-6.col-md-3
            .panel
              .panel-body
                = image_tag "campaigns-companies.png", :class => "img-center img-responsive", :title => "Company Publicity Campaign Workflow" 
                  
          .col-xs-12.col-sm-6.col-md-3
            .panel
              .panel-body
                = image_tag "campaigns-events.png", :class => "img-center img-responsive", :title => "Events Publicity Campaign Workflow"
                  
          .col-xs-12.col-sm-6.col-md-3
            .panel
              .panel-body
                = image_tag "campaigns-products.png", :class => "img-center img-responsive", :title => "Products Publicity Campaign Workflow" 
