<%= simple_form_for(@fact_sheet, html: {class: 'form-vertical'}) do |f| %>
  <% if @fact_sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fact_sheet.errors.count, "error") %> prohibited this fact_sheet from being saved:</h2>

      <ul>
      <% @fact_sheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Required</h3>
  <div class="div-border-thin-blue-ratio"></div>
  <p>These five questions are needed to generate your Dashboard and Basic EPK Template.</p>
  <div class="div-border-thin-blue-ratio"></div>
  
  <section class="row"> 
    <div class="form-group col-xs-12 col-md-5">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :class => 'form-control', :placeholder => 'enter first name', :autofocus => true %>
    </div>
    
    <div class="form-group col-xs-12 col-md-7">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, :class => 'form-control', :placeholder => 'enter last name', :autofocus => false %>
    </div>
  </section>
  <div class="div-border-thin-blue-ratio"></div>
    <div class="form-group">
      <%= f.label :username %>
      <div class="row">
        <div class="col-md-5 col-xs-12">
          <p class="url-pattern-example-condensed">http://www.entreuse.com/</p>
        </div>
        <div class="col-md-7 col-xs-12"><%= f.text_field :vanity_url, :class => 'form-control col-md-6', :placeholder => 'enter project url name', :autofocus => false %>
        </div>
      </div>  
    </div>
  <div class="div-border-thin-blue-ratio"></div>
      
  <section class="row">
    <div class="form-group col-md-5 col-xs-12">
      <%= f.label :city_or_town %>
      <%= f.text_field :client_city, :class => 'form-control', :placeholder => 'enter your city or town', :autofocus => false %>
    </div>
    <div class="input form-group col-md-7 col-xs-12">
      
      <%= f.input :country, :class => 'form-control', priority: [ "United States" ] %>
     <!-- <%= f.label :country %>
      #<%= f.text_field :country, :class => 'form-control', :placeholder => 'enter your country', :autofocus => false %>-->
    </div>
  </section>
  <div class="div-border-thin-blue-ratio"></div>
  <div class="text-right">
    <%= f.submit "Create Fact Sheet", class: 'btn btn-sm btn-basic' %>
  </div>
  <div class="div-border-thick-blue-full"></div>
  
  <h3>Recommended (<em>Highly!</em>)</h3>
  <div class="div-border-thin-blue-ratio"></div>
  <p>You may return to your Fact Sheet at anytime to add or change any item (or remove any of the Recommended Facts).</p>
  <div class="div-border-thin-blue-ratio"></div>
  <div class="form-group row">
    <div class="col-md-3 col-xs-12">
      <%= f.label :description %>
    </div>
    <div class="col-md-9 col-xs-12">
      <%= f.text_area :description, :class => 'form-control', :placeholder => 'enter brief description of your project.', :autofocus => false %>
    </div>
  </div>
  <div class="form-group row">
      <div class="col-md-3 col-xs-12">
        <%= f.label :professional_name %>
      </div>
      <div class="col-md-9 col-xs-12">
        <%= f.text_field :p_k_a, :class => 'form-control', :placeholder => 'enter professional name', :autofocus => false %>
      </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 col-xs-12">
      <%= f.label :my_profession_is %>
    </div>
    <div class="col-md-9 col-xs-12">
      <%= f.text_field :professional_business_type, :class => 'form-control', :placeholder => 'enter your professional title', :autofocus => false %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 col-xs-12">
      <%= f.label :telephone %> (<em>mobile</em>)
    </div>
    <div class="col-md-9 col-xs-12">
      <%= f.telephone_field :client_tel_mobile, :class => 'form-control', :placeholder => 'enter mobile number', :autofocus => false %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 col-xs-12">
      <%= f.label :email %> (<em>alternate</em>)
    </div>
    <div class="col-md-9 col-xs-12">
      <%= f.email_field :client_email_alt, :class => 'form-control', :placeholder => 'enter alternate email', :autofocus => false %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 col-xs-12">
      <%= f.label :personal_or_project_url %>
    </div>
    <div class="col-md-9 col-xs-12">
      <%= f.url_field :client_url, :class => 'form-control', :placeholder => 'enter full url i.e. http://www.bettyjane.com', :autofocus => false %>
    </div>
  </div>  
  <div class="form-group row">
    <div class="col-md-3 col-xs-12">
      <%= f.label :telephone %> (<em>work</em>)
    </div>
    <div class="col-md-9 col-xs-12">
      <%= f.telephone_field :client_tel_work, :class => 'form-control', :placeholder => 'enter work/office number', :autofocus => false %>
    </div>
  </div>
    <div class="form-group row">
    <div class="col-md-3 col-xs-12">
      <%= f.label :company_name %>
    </div>
    <div class="col-md-9 col-xs-12">
      <%= f.text_field :company_name, :class => 'form-control', :placeholder => 'enter company name', :autofocus => false %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 col-xs-12">
      <%= f.label :company_tel_main %>
    </div>
    <div class="col-md-9 col-xs-12">
      <%= f.text_field :company_tel_main, :class => 'form-control', :placeholder => 'enter mobile number', :autofocus => false %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 col-xs-12">
      <%= f.label :company_url %>
    </div>
    <div class="col-md-9 col-xs-12">
      <%= f.url_field :company_url, :class => 'form-control', :placeholder => 'enter company url on the web', :autofocus => false %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-3 col-xs-12">
      <%= f.label :company_email %>
    </div>
    <div class="col-md-9 col-xs-12">
      <%= f.email_field :company_email, :class => 'form-control', :placeholder => 'enter company email', :autofocus => false %>
    </div>
  </div>
  <div class="div-border-thin-blue-ratio"></div>
  <div class="text-right">
    <%= f.submit "Create Fact Sheet", class: 'btn btn-sm btn-basic' %>
  </div>
<% end %>
