
<div class="panel panel-primary panel-narrow">
  
  <div class="panel-heading">
    <h1>Fact Sheet for <%= @fact_sheet.vanity_url %>
      </h1>
  </div>
  
  <div class="panel-body">
    
   <p id="notice"><%= notice %></p>

<p>
  <strong>Vanity url:</strong>
  <%= @fact_sheet.vanity_url %>
</p>

<p>
  <strong>Country:</strong>
  <%= @fact_sheet.country %>
</p>

<p>
  <strong>First name:</strong>
  <%= @fact_sheet.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @fact_sheet.last_name %>
</p>

<p>
  <strong>Middle initial:</strong>
  <%= @fact_sheet.middle_initial %>
</p>

<p>
  <strong>P k a:</strong>
  <%= @fact_sheet.p_k_a %>
</p>

<p>
  <strong>Professional business type:</strong>
  <%= @fact_sheet.professional_business_type %>
</p>

<p>
  <strong>Client tel mobile:</strong>
  <%= @fact_sheet.client_tel_mobile %>
</p>

<p>
  <strong>Client tel work:</strong>
  <%= @fact_sheet.client_tel_work %>
</p>

<p>
  <strong>Client tel alt:</strong>
  <%= @fact_sheet.client_tel_alt %>
</p>

<p>
  <strong>Client email alt:</strong>
  <%= @fact_sheet.client_email_alt %>
</p>

<p>
  <strong>Client url:</strong>
  <%= @fact_sheet.client_url %>
</p>

<p>
  <strong>Client street address 1:</strong>
  <%= @fact_sheet.client_street_address_1 %>
</p>

<p>
  <strong>Client street address 2:</strong>
  <%= @fact_sheet.client_street_address_2 %>
</p>

<p>
  <strong>Client unit number:</strong>
  <%= @fact_sheet.client_unit_number %>
</p>

<p>
  <strong>Client city:</strong>
  <%= @fact_sheet.client_city %>
</p>

<p>
  <strong>Client county:</strong>
  <%= @fact_sheet.client_county %>
</p>

<p>
  <strong>Client state:</strong>
  <%= @fact_sheet.client_state %>
</p>

<p>
  <strong>Client postal code:</strong>
  <%= @fact_sheet.client_postal_code %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @fact_sheet.company_name %>
</p>

<p>
  <strong>Company tel main:</strong>
  <%= @fact_sheet.company_tel_main %>
</p>

<p>
  <strong>Company url:</strong>
  <%= @fact_sheet.company_url %>
</p>

<p>
  <strong>Company email:</strong>
  <%= @fact_sheet.company_email %>
</p>

<p>
  <strong>Company street address 1:</strong>
  <%= @fact_sheet.company_street_address_1 %>
</p>

<p>
  <strong>Company street address 2:</strong>
  <%= @fact_sheet.company_street_address_2 %>
</p>

<p>
  <strong>Company suite number:</strong>
  <%= @fact_sheet.company_suite_number %>
</p>

<p>
  <strong>Company city:</strong>
  <%= @fact_sheet.company_city %>
</p>

<p>
  <strong>Company county:</strong>
  <%= @fact_sheet.company_county %>
</p>

<p>
  <strong>Company state:</strong>
  <%= @fact_sheet.company_state %>
</p>

<p>
  <strong>Company postal code:</strong>
  <%= @fact_sheet.company_postal_code %>
</p>
</div>
  <div class="panel-footer"> 
<%= link_to 'Edit', edit_fact_sheet_path(@fact_sheet) %> |
<%= link_to 'Back', fact_sheets_path %>
  </div>

</div>