<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @epk.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @epk.user_id %>
</p>

<%= link_to 'Edit', edit_epk_path(@epk) %> |
<%= link_to 'Back', epks_path %>
