#billboard
  
  .row
    
    .col-xs-12.col-md-6.col-md-offset-1.panel.home-slate

      = image_tag "entreuse-logo-typographic.png", :title => "Entreuse EPK Logo Graphic"

      %h2 Tell Your Story
      
    #- end left col
      
    .col-xs-6.col-md-4
      .signin-homepage.panel.text-left
        = render "devise/shared/new_session"
      
      .signup-homepage.panel.text-left
        = render "devise/shared/new_reg"

#fold.panel
  #offering
    #headingOffering.row
      .col-md-4
        = image_tag "ball-puddle-e-col-hdr-2.png", :title => "Column Heading Graphic with Entreuse Logo Graphic"
        %h3 Easy
        %p If you can use Facebook, Pinterest, or Google +, you can create an EPK.

      .col-md-4
        = image_tag "ball-puddle-e-col-hdr-2.png", :title => "Column Heading Graphic with Entreuse Logo Graphic"
        %h3 Responsive
        %p Your materials look great no matter what size screen they are viewed on.
        
      .col-md-4
        = image_tag "ball-puddle-e-col-hdr-2.png", :title => "Column Heading Graphic with Entreuse Logo Graphic"
        %h3 Professional
        %p Your materials presented to journalists and bloggers they way they want them.

    
    #benefits
      
      .row.benefits-article
        .col-md-5.col-md-offset-1.benefits-image-wrap-left
          = image_tag "easy-as-abc-blocks.png", :class => "img-responsive", :title => "Image of classic style broadcast microphone"
        
        .col-md-6.benefits-text-wrap-right
        %h2 Tell Your Story Easily
        %p Your unique story and voice is valuable to bloggers and journalists desperately seeking relevant content and stories to share with their readership.</p>
        %p We make it simple to curate your promotional materials into an congruent story. Made as simple as social networking platforms. Upload, organize, highlight, and tell your story to the people who want to share with a simple url link.
    
      .div-border-top-blue-ratio
    
      .row.benefits-article
        .col-md-6.col-md-offset-1.benefits-text-wrap-left
          %h2 Modern and Responsive
          %p Old-style websites are just not effective on phones and tablets, too much clicking and page loading.
          %p Your Entreuse EPK Storyboard is built for today's mobile users so you look good no matter what size screen.
        
        .col-md-5.benefits-image-wrap-right
          = image_tag "responsive-design.png", :title => "Image of Entreuse Home Page displayed on different devices"
    
      .div-border-top-blue-ratio
    
      .row.benefits-article
        .col-md-5.col-md-offset-1.benefits-image-wrap-left
          = image_tag "press-hat.png", :title => "Image of Fadora hat with Press Label"
          
        .col-md-6.benefits-text-wrap-right
          %h2 Designed for Professionals
          %p Our favorite newspaper editor complains about getting press releases that are not relevant to her readers, no pictures, lack of important details, and overall, "Where is the story I care about?".
          %p Make editors everywhere happy with the materials they need to help get your story told. Your story matters, present it properly so it gets told more often.

  #about.panel
    %h2.text-center The Team
    .row
      .col-md-2.col-md-offset-1
        = image_tag "f1-sandy-l-fishler.png", :title => "Sandy L. Fischler, Entreuse Founder", :class => "image-md img-margin img-styling-basic"
        
      .col-md-9.founder
        %p
          %span.name-hilite Sandy Fischler
          Why Sandy ?
        
    .row
      .col-md-2.col-md-offset-1
        = image_tag "f1-jayson-t-perry.png", :title => "Jayson T. Perry, Entreuse Founder", :class => "image-md img-margin img-styling-basic"  
        
      .col-md-9.founder
        %p
          %span.name-hilite Jayson Perry 
          Why Jayson ?
  
  .row.badges
    .col-md-4.text-center
      = link_to image_tag("badge-uxpin.png", :title => "UXPin Logo", :class => "img-center"), "http://uxpin.com/", :target => "_blank"
    
    .col-md-4.text-center
      = link_to image_tag("badge-fi-grad.png", :title => "FI Graduates Badge", :class => "img-center"), "http://fi.co/about", :target => "_blank"
    
    .col-md-4.text-center
      = link_to image_tag("badge-onemonthrails.png", :title => "One Month Rails Badge", :class => "img-center"), "http://fi.co/about", :target => "_blank"

