#billboard
  
  .row
    
    .col-xs-12.col-sm-12.col-md-6.col-md-offset-1.col-lg-6.col-offset-1.panel.home-slate

      = image_tag "entreuse-logo-typographic.png", :class => "img-center img-responsive", :title => "Entreuse EPK Logo Graphic"

      %h2 Tell Your Story
      
    -# end left col
      
    .col-xs-12.col-sm-12.col-md-4.col-lg-4
      .row
        .col-xs-12.col-sm-6.col-md-12.col-lg-12
          .signin-homepage.panel.text-left
            = render "devise/shared/new_session"
        .col-xs-12.col-sm-6.col-md-12.col-lg-12
          .signup-homepage.panel.text-left
            = render "devise/shared/new_reg"

#fold.panel
  = render 'fold'

  #about
    = render 'about'
  
  #badges
    = render 'badges'

